.sidebar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: calc(100vh - 20px);
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    border-radius: 5px;
    border: #f0f0f0 solid 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
    overflow: hidden;
}

.sidebar-item {
    padding: 10px;
}

.section {
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 1001;

    background: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}